$gray: #f8f8fa;
$blueLight: #91d5ff;
$blue: #0092ff;
$blueDark: #0288ec;
$text: rgba(232, 230, 227, 0.85);
$grayText: #909090;
$grayDark: rgb(22, 24, 25);//rgb(27, 30, 31);
$border: rgb(52, 57, 59);
$stroke: #DDDAE7;
$darkBg: rgb(24, 26, 27);

$all: all 200ms ease;
$transparent: rgba(255, 255, 255, 0);
